.navlink {
    text-decoration: none;
    padding-left: 20%;
    white-space: nowrap;
    text-shadow: 2px 2px 5px #706233;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: rgba(112,98,51,0.8);
}