/* ---- DEFAULT COLOURS ---- */
.green-bg {
    background-color: #706233 !important;
}

.brown-bg {
    background-color: #B0926A !important;
}

.yellow-bg {
    background-color: #E1C78F !important;
}

.beige-bg {
    background-color: #FAE7C9 !important;
}

.green-text {
    color: #41381e !important;
}

.brown-text {
    color: #B0926A !important;
}

.yellow-text {
    color: #E1C78F !important;
}

.beige-text {
    color: #FAE7C9 !important;
}

/* ---- DEFAULT FONTS ---- */

@font-face {
    font-family: 'Header';
    src: url('/fonts/LTCushion-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Text';
    src: url('/fonts/AltoneTrial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bold Text';
    src: url('/fonts/AltoneTrial-Bold.ttf') format('truetype');
}

/* ----------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Header';
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Header';
}

p,
a,
label,
input,
link,
.navlink,
.link,
div {
    font-family: 'Text';
}

.logo {
    max-width: 200px;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.no-button-outline {
    border-color: #B0926A !important;
}

.shop-photo {
    width: 80%;
}

.page-header {
    padding-top: 5%;
    padding-bottom: 5%;
}

.align-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-bottom: 3%;
    text-shadow: 2px 2px 10px #706233;
    font-family: 'Bold Text';
    font-size: 4vw;
}

.content {
    background: rgba(112, 98, 51, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(112, 98, 51, .1) 70%, rgba(112, 98, 51, .3) 85%, rgba(112, 98, 51, 0.7) 100%) repeat scroll 0 0;
}

.searchbar {
    padding-top: 2%;
    padding-bottom: 2%;
}

.link {
    text-decoration: none;
    font-size: large;
    padding-bottom: 3%;
}

.link:hover {
    text-decoration: underline;
}

.category {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: xxx-large;
}

.page-title {
    padding-top: 5%;
    padding-bottom: 1%;
}

.no-results {
    padding-bottom: 3%;
}

.square-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.square-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2%;
    width: 100%;
    min-height: 80vh
}

.alignment {
    margin-left: auto; 
    margin-right: auto;
}

.price {
    font-family: 'Header';
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, 0) !important
}

.big {
    font-size: xxx-large;
}

.social-text {
    font-family: 'Bold Text';
    opacity: 0.9;
    text-align: center;
    padding: 5%;
}

.welcome-text {
    font-size: x-large;
    width: 50%;
}

.team-text {
    font-size: x-large;
    flex: 1;
}

.events-text {
    font-size: x-large;
    width: 90%;
}

.team-content {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.team-pic {
    flex: 1;
}

.contact-btn {
    font-size: 25px !important;
    padding: 18px 28px !important;
}

.event-img-portrait img {
    width: 300px;
}

.event-img-landscape img {
    height: 255px;
}

.event-imgs {
    width: 100%;
    display: flex;
}

.numbers {
    font-family: 'Header';
}

@media (max-width: 1101px) {
.event-img-portrait img {
    width: 250px;
}

.event-img-landscape img {
    height: 210px;
}

}

@media (max-width: 992px) {
    .team-text {
        font-size: 2vw;
        width: 100%;
    }

    .contact-btn {
        font-size: 18px !important;
        padding: 10px 20px !important;
    }

    .event-img-portrait img {
        width: 200px;
    }
    
    .event-img-landscape img {
        height: 166px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 5vw;
    }

    .welcome-header {
        font-size: 8vw;
    }

    .welcome-text {
        font-size: 4vw;
        width: 70%;
    }

    .team-content {
        flex-direction: column;
    }

    .team-header {
        font-size: 8vw;
    }

    .heart {
        width: 100px
    }

    .team-text {
        font-size: 3vw;
        width: 100%;
    }

    .team-pic {
        width: 80%
    }

    .contact-btn {
        font-size: 18px !important;
        padding: 10px 20px !important;
    }

    .event-img-portrait img {
        width: 150px;
    }
    
    .event-img-landscape img {
        height: 122px;
    }
}

@media (max-width: 590px) {
    .event-img-portrait img {
        width: 100px;
    }
    
    .event-img-landscape img {
        height: 78px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 6vw;
    }

    .welcome-header {
        font-size: 8vw;
    }

    .welcome-text {
        font-size: 5vw;
        width: 70%;
    }

    .team-header {
        font-size: 8vw;
    }

    .heart {
        width: 100px
    }

    .team-text {
        font-size: 5vw;
        width: 100%;
    }
    .event-img-portrait img {
        width: 90px;
    }
    
    .event-img-landscape img {
        height: 68px;
    }
}

@media(max-width: 430px) {
    .event-img-portrait img {
        width: 80px;
    }
    
    .event-img-landscape img {
        height: 59px;
    }
}